extends ../templates/main

block content

  section.main_commits
    div.header
      h1 Click on "Update" to refresh the commits


    div.middle_box
      div.first_box
        form(action="/save/commits", method="POST", class="login")

          button(type='submit', name='submit', class="btn") Update
      
      div.second_box
        for Commit in commitList
          div.box_data
            div.main_title
              a(href=Commit.html_url)
                p= 'Repository name: '+Commit.name
              p.txt= 'Repository id: ' + Commit.id_repo
            div.sec_data
              if Commit.current_date != undefined
                p.txt= 'Current date: '+ Commit.current_date

              if Commit.created_at != undefined
                p.txt= 'Created at: '+ Commit.created_at

              a(href= Commit.api_url, target="_blank")
                button() More details
